extends ./layout.pug

block content
    .jumbotron
        h1.display-4 Contact Us
        p.lead
    br
    br
    .container
            .row
                .col-md-6.col-xl-6-main            
                    h5 Join us on social media or send us an email for orders!
                .col-md-6.col-xl-6
                    hr
                    p Instagram
                    a(href='https://www.instagram.com/pineandbark/') instagram/pineandbark
                    hr
                    p Facebook
                    a(href='https://www.facebook.com/pineandbark/') facebook.com/pineandbark
                    hr
                    p Email
                    a(href='mailto:pineandbark@gmail.com') pineandbark@gmail.com
                    hr


    
