extends ./layout.pug

block content
    .jumbotron
        h1.display-4 Contact Us
        p.lead
    .container
        h5.contact Join us on social media or send us an email for orders!
    br
    .container
            .row
                .col-md-6.col-xl-6          
                    form.contact(action="//formspree.io/pineandbark@gmail.com" method="post")
                        .form-group
                            label(for='exampleFormControlInput1') Name
                            input#exampleFormControlInput1.form-control(type='text' placeholder='Your Name' name='name')
                        .form-group
                            label(for='exampleFormControlInput1') Email address
                            input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com' name='email')
                            small#emailHelp.form-text.text-muted We&apos;ll never share your email with anyone else.
                        .form-group
                            label(for='exampleFormControlTextarea1') Message
                            textarea#exampleFormControlTextarea1.form-control(type='text' placeholder='Your Message' rows='3' name='message')
                        button.btn.btn-primary Send
                .col-md-6.col-xl-6
                    hr
                    p Instagram
                    a(href='https://www.instagram.com/pineandbark/') instagram/pineandbark
                    hr
                    p Facebook
                    a(href='https://www.facebook.com/pineandbark/') facebook.com/pineandbark
                    hr
   
        
    
    
        
        
        
        
    
    
