
.socialMedia {
  float: right;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: "Bradley Hand", cursive;
}

body.home {
  background-image: url("https://i.imgur.com/UtB2Udq.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.carousel {
  width:500px;
  height:500px;
  position: fixed;
  top: 35%;
  left: 42%;
  margin-top: -80px;
  margin-left: -80px;
}

.carousel-item {
  height: 500px;
  width: 500px;
}

button.btn.btn-light {
  left: 47%;
  position: fixed;
  margin-top: 10px;
}

h2.about {
  margin: auto;
  text-align: center;
}

h1.display-4 {
 text-align: center;
}

.col-md-6.col-xl-6-main {
  margin: auto;
}

p.lead {
    text-align: center;
}

img.card-img-top {
    height: 350px;
}

.col-md-6.col-xs-6-text {
  text-align: center;
  margin: auto;
}

form.contact {
  width: 500px;
  
}

h5.contact {
  text-align: center;
  margin: auto;
}